<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle7.MacAppStore</string>
		<string>179.17</string>
	</array>
	<key>CreationDate</key>
	<string>2014-02-26 04:46:07 +0000</string>
	<key>Creator</key>
	<string>Matt Raible</string>
	<key>GraphDocumentVersion</key>
	<integer>14</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>11</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image10.tiff</string>
		<string>image9.tiff</string>
		<string>image8.tiff</string>
		<string>image3.tiff</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2017-08-17 02:20:51 +0000</string>
	<key>Modifier</key>
	<string>Matt Raible</string>
	<key>MovementHandleVisible</key>
	<string>NO</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 611.99999332427979}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<integer>6</integer>
			<key>AutosizingMargin</key>
			<integer>72</integer>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {756, 553}}</string>
				<key>Class</key>
				<string>GraffleShapes.CanvasBackgroundGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasDimensionsOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>CanvasSizingMode</key>
			<integer>1</integer>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 in = 1.00000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{336.9215832674729, 310.31999306380749}, {36, 36}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>34</integer>
							<key>ImageID</key>
							<integer>10</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{390.27841630337366, 313.91999284923077}, {28.800000429153442, 28.800000429153442}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>35</integer>
							<key>ImageID</key>
							<integer>9</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>36</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{239.46609497070312, 124}, {50.399997711181641, 50.399997711181641}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>8</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{256.35141447118428, 202.61238147359626}, {57, 27}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>4</integer>
					<key>Line</key>
					<dict>
						<key>ID</key>
						<integer>5</integer>
						<key>Position</key>
						<real>0.3981175422668457</real>
						<key>RotationType</key>
						<integer>0</integer>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs28 \cf0 Notifies}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>14</integer>
					</dict>
					<key>ID</key>
					<integer>5</integer>
					<key>Points</key>
					<array>
						<string>{252.31368933496296, 182.35997139328887}</string>
						<string>{334.04263109462153, 267.13998432144263}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>31</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{412.96380393965234, 215.28820996760061}, {68, 27}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>6</integer>
					<key>Line</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
						<key>Position</key>
						<real>0.44150567054748535</real>
						<key>RotationType</key>
						<integer>0</integer>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs28 \cf0 Manages}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>18</integer>
					</dict>
					<key>ID</key>
					<integer>7</integer>
					<key>Points</key>
					<array>
						<string>{415.4844074500848, 267.1136260179764}</string>
						<string>{486.7845032882222, 180.30745620039787}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>14</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{334.00315830592854, 110.94338648172857}, {70, 27}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>14</real>
					</dict>
					<key>ID</key>
					<integer>8</integer>
					<key>Line</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
						<key>Position</key>
						<real>0.43312084674835205</real>
						<key>RotationType</key>
						<integer>0</integer>
					</dict>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs28 \cf0 Observes}</string>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>18</integer>
					</dict>
					<key>ID</key>
					<integer>9</integer>
					<key>Points</key>
					<array>
						<string>{307.49999051110314, 124.82230124429293}</string>
						<string>{449.50000981758564, 123.94745356524091}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>31</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{315.5, 277}, {125, 29}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>13</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<real>0.0</real>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs48 \cf0 Component}</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{268.5, 267.5}, {219, 90.5}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>14</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.188235</string>
										<key>g</key>
										<string>0.917647</string>
										<key>r</key>
										<string>0.552941</string>
										<key>space</key>
										<string>srgb</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>9</real>
								</dict>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>10</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{462, 76.578948974609375}, {32, 32}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>16</integer>
							<key>ImageID</key>
							<integer>3</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{500.5, 76.578948974609375}, {66, 29}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>17</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<real>0.0</real>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs48 \cf0 Model}</string>
								<key>VerticalPad</key>
								<real>0.0</real>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{450, 66.921051025390625}, {167, 113}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>Clip</string>
							<key>Flow</key>
							<string>Clip</string>
							<key>ID</key>
							<integer>18</integer>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>FillType</key>
									<integer>2</integer>
									<key>GradientAngle</key>
									<real>90</real>
									<key>GradientColor</key>
									<dict>
										<key>b</key>
										<string>0.207843</string>
										<key>g</key>
										<string>0.85098</string>
										<key>r</key>
										<string>0.996079</string>
										<key>space</key>
										<string>srgb</string>
									</dict>
								</dict>
								<key>stroke</key>
								<dict>
									<key>CornerRadius</key>
									<real>9</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Align</key>
								<integer>0</integer>
								<key>Pad</key>
								<real>10</real>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\partightenfactor0

\f0\fs24 \cf0 \
\
\
var model = \{\};\
model.firstName = "Foo";\
model.lastName = "Bar";}</string>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>15</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{239.46609497070312, 83.84210205078125}, {52, 29}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>19</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<real>0.0</real>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs48 \cf0 View}</string>
						<key>VerticalPad</key>
						<real>0.0</real>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>26</integer>
					</dict>
					<key>ID</key>
					<integer>20</integer>
					<key>Points</key>
					<array>
						<string>{196.66755232772599, 131.38789261922216}</string>
						<string>{182, 149.42105263157896}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>28</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>27</integer>
						<key>Info</key>
						<integer>6</integer>
					</dict>
					<key>ID</key>
					<integer>21</integer>
					<key>Points</key>
					<array>
						<string>{196.98305084745763, 130.9999999999998}</string>
						<string>{174.98305084745766, 144.99999999999997}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>28</integer>
						<key>Info</key>
						<integer>5</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>25</integer>
					</dict>
					<key>ID</key>
					<integer>22</integer>
					<key>Points</key>
					<array>
						<string>{196.98305084745763, 130.9999999999998}</string>
						<string>{189.01694915254234, 153.842105263158}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>28</integer>
						<key>Info</key>
						<integer>5</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>28</integer>
						<key>Info</key>
						<integer>3</integer>
					</dict>
					<key>ID</key>
					<integer>23</integer>
					<key>Points</key>
					<array>
						<string>{156.5, 99}</string>
						<string>{180.99999999999997, 115.84210526315772}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>30</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>29</integer>
					</dict>
					<key>ID</key>
					<integer>24</integer>
					<key>Points</key>
					<array>
						<string>{156.5, 99}</string>
						<string>{144.5, 115.8421049118042}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>30</integer>
						<key>Info</key>
						<integer>5</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{173.0338983050847, 153.842105263158}, {31.966101694915256, 15.157894736842106}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>25</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.84705883264541626</real>
								<key>g</key>
								<real>0.59607869386672974</real>
								<key>r</key>
								<real>0.11764653772115707</real>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs20 \cf1 &lt;li&gt;}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{166.01694915254237, 149.42105263157896}, {31.966101694915256, 15.157894736842106}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>26</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.84705883264541626</real>
								<key>g</key>
								<real>0.59607869386672974</real>
								<key>r</key>
								<real>0.11764653772115707</real>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs20 \cf1 &lt;li&gt;}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{159.00000000000003, 144.99999999999997}, {31.966101694915256, 15.157894736842106}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>27</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.84705883264541626</real>
								<key>g</key>
								<real>0.59607869386672974</real>
								<key>r</key>
								<real>0.11764653772115707</real>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs20 \cf1 &lt;li&gt;}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{181, 115.84210526315773}, {31.966101694915256, 15.157894736842106}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.8</string>
							<key>g</key>
							<string>0.8</string>
							<key>r</key>
							<string>0.8</string>
						</dict>
					</dict>
					<key>ID</key>
					<integer>28</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.84313744306564331</real>
								<key>g</key>
								<real>0.29803961515426636</real>
								<key>r</key>
								<real>0.082352958619594574</real>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs18 \cf1 &lt;ul&gt;}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{108, 115.8421049118042}, {36.5, 15.157895088195801}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>1</string>
							<key>g</key>
							<string>1</string>
							<key>r</key>
							<string>1</string>
						</dict>
					</dict>
					<key>ID</key>
					<integer>29</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.84313148260116577</real>
								<key>g</key>
								<real>0.16523313522338867</real>
								<key>r</key>
								<real>0.28190883994102478</real>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs20 \cf1 &lt;div&gt;}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{134, 83.84210526315789}, {45, 15.157894736842106}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>30</integer>
					<key>Magnets</key>
					<array>
						<string>{1, 1}</string>
						<string>{1, -1}</string>
						<string>{-1, -1}</string>
						<string>{-1, 1}</string>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<real>0.84704798460006714</real>
								<key>g</key>
								<real>0.19624346494674683</real>
								<key>r</key>
								<real>0.74093121290206909</real>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1504\cocoasubrtf830
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc\partightenfactor0

\f0\fs20 \cf1 &lt;body&gt;}</string>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{88, 69}, {219, 113}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>31</integer>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>FillType</key>
							<integer>2</integer>
							<key>GradientAngle</key>
							<real>90</real>
							<key>GradientColor</key>
							<dict>
								<key>b</key>
								<string>0.227514</string>
								<key>g</key>
								<string>0.98542</string>
								<key>r</key>
								<string>0.95706</string>
								<key>space</key>
								<string>srgb</string>
							</dict>
						</dict>
						<key>stroke</key>
						<dict>
							<key>CornerRadius</key>
							<real>9</real>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Artboards</key>
					<false/>
					<key>Lock</key>
					<false/>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<true/>
					<key>View</key>
					<true/>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoLineLength</key>
				<real>0.20000000298023224</real>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
			<key>VisibleVoidKey</key>
			<real>1</real>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>Frame</key>
		<string>{{116, 50}, {1506, 978}}</string>
		<key>ShowInfo</key>
		<true/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>Sidebar_Tab</key>
		<integer>0</integer>
		<key>VisibleRegion</key>
		<string>{{-73, -124}, {988, 820}}</string>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>2</real>
			</array>
		</array>
	</dict>
	<key>compressOnDiskKey</key>
	<false/>
	<key>copyLinkedImagesKey</key>
	<false/>
	<key>createSinglePDFKey</key>
	<false/>
	<key>exportAreaKey</key>
	<integer>4</integer>
	<key>exportQualityKey</key>
	<real>100</real>
	<key>exportSizesKey</key>
	<array>
		<real>1</real>
		<string></string>
	</array>
	<key>fileFormatKey</key>
	<integer>0</integer>
	<key>htmlImageTypeKey</key>
	<integer>0</integer>
	<key>includeBackgroundGraphicKey</key>
	<true/>
	<key>includeNonPrintingLayersKey</key>
	<false/>
	<key>lastExportTypeKey</key>
	<integer>0</integer>
	<key>marginWidthKey</key>
	<real>0.0</real>
	<key>previewTypeKey</key>
	<integer>0</integer>
	<key>readOnlyKey</key>
	<false/>
	<key>resolutionForBMPKey</key>
	<real>1</real>
	<key>resolutionForGIFKey</key>
	<real>1</real>
	<key>resolutionForHTMLKey</key>
	<real>1</real>
	<key>resolutionForJPGKey</key>
	<real>1</real>
	<key>resolutionForPNGKey</key>
	<real>2.0833332538604736</real>
	<key>resolutionForTIFFKey</key>
	<real>1</real>
	<key>resolutionUnitsKey</key>
	<integer>0</integer>
	<key>saveAsFlatFileOptionKey</key>
	<integer>0</integer>
	<key>useArtboardsKey</key>
	<false/>
	<key>useMarginKey</key>
	<false/>
	<key>useNotesKey</key>
	<false/>
</dict>
</plist>
